# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build directories
dist/
build/

# React
*.jsx
*.tsx
*.js
*.ts
*.map

# Misc
.DS_Store
.env
.idea/
.vscode/
*.log

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Mac system files
Thumbs.db